.main{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(220, 248, 248);
  
}
.container{
  background-color: whitesmoke;
  border-radius: 1rem;
}
.header{
  justify-content: space-between;
}
.calculate {
  color: yellowgreen;
  border-radius: 15px;
}
.btn.calcBtn {
  background-color: gold;
  color: rgb(38, 38, 85);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.calculator {
  align-items: center;
  justify-content: center;
}
.calculate {
  padding-bottom: 2rem;
}
.whiteBox {
  justify-content: space-evenly;
}
.yourResults {
  height: 100%;
  padding: 2rem;
  background-color: rgb(34, 41, 66);
}
.numResult {
 
  padding-bottom: 0.6rem;
}

.card {
  padding: 1rem;
  border-radius: 0.5rem;
  border-top: solid yellow 6px;

  
}
.last {
  padding-top: 1.5rem;
}

.selected {
  border: solid gray 0.1px;
  display: flex;
  margin-bottom: 10px;

}
.styledCheckbox {
  justify-content: space-between;
}
.darkBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 100%;
  background-color: rgb(34, 41, 66);
  
 
}
@media (min-width: 768px) {
  .darkBox, .yourResults{
  border-radius: 0rem 1rem 1rem 4rem;

}
.calculate{
  width: 70%;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container{
  box-shadow: 10px 10px 5px 0px rgba(0,0,2,0.75);
}

}
.textDown {
  display: flex;
  text-align: center;
  width: 70%;
  font-size: 20px;
  align-content: center;
}
.input2,
.input1,
.input3 {
  padding-top: 1rem;
  height: max-content;
}
.checkboxInterest, .checkboxRepay{
  padding: 0.5rem;
}
.repayment, .interestOnly{
  padding-top: 0.5rem;
}
.hr{
  color: yellow;
  size: 4px;
}
#monthlyRepayment{
  color: yellow;
}
